# batt_health
type batt_health_data_file, file_type;
type batt_health_sysfs, sysfs_type, fs_type;

# Bluetooth
type bluetooth_config_file, file_type, data_file_type;
type bluetooth_device, dev_type;

# Tee device
# We need to violate a neverallow for tee_device so redefine it as our
# own device and take care of it ourselves.  Since Google made this
# device 0666 on fugu and it appears to have its own access control mechanism,
# we will grant rights which might otherwise be scary to userspace domains.
type smi_tee_device, dev_type;

# Houdini
type cpuinfo_file, file_type;

# PDS files
type pds_file, file_type;

# Radio
type radio_cache_file, file_type, data_file_type;
type radio_log_file, file_type, data_file_type;
type radio_sysfs_file, fs_type, sysfs_type;

# WiFi
type wifi_config_file, file_type, data_file_type;

type adb_device, dev_type;

type sysfs_cpu, file_type;
type sysfs_fbcon, fs_type, sysfs_type;
type sysfs_gpio, fs_type, sysfs_type;
type sysfs_block, fs_type, sysfs_type;
type sysfs_pci, fs_type, sysfs_type;
type sysfs_init_access, fs_type, sysfs_type;

allow domain sysfs_cpu:file { getattr open read };
allow domain sysfs_cpu:dir { search open read };
allow sysfs_cpu sysfs:filesystem associate;
