type hal_light_smi, domain;
hal_server_domain(hal_light_smi, hal_light)

type hal_light_smi_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_light_smi)
