allow hal_graphics_allocator_default device:chr_file { ioctl };
allow hal_graphics_allocator_default system_file:file execmod;
allow hal_graphics_allocator_default vendor_file:file execmod;
