type hal_bluetooth_smi, domain;
type hal_bluetooth_smi_exec, exec_type, file_type;

hal_server_domain(hal_bluetooth_smi, hal_bluetooth)

init_daemon_domain(hal_bluetooth_smi)
