#============= init ==============
allow init port:tcp_socket name_connect;
allow init ram_device:blk_file write;
allow init self:capability sys_module;
allow init self:tcp_socket { write getopt create read connect };
allow init socket_device:sock_file { create setattr };
allow init tmpfs:lnk_file create;
allow init block_device:blk_file { create write relabelfrom };
allow init block_device:lnk_file { create write rename };

# Mount on and write to /proc/sys/fs/binfmt_misc.
allow init proc:dir mounton;
allow init binfmt_miscfs:file w_file_perms;

# Allow shimlibs
allow init { domain -lmkd }:process noatsecure;

allow init kernel:system module_request;
allow init debugfs:file rw_file_perms;

domain_trans(init, rootfs, vold)
