type locdrv, domain;
type locdrv_exec, exec_type, file_type;

init_daemon_domain(locdrv)
allow locdrv shell_exec:file { read open execute };
allow locdrv radio_data_file:dir { add_name write search remove_name };
allow locdrv radio_data_file:file { create open write };
allow locdrv radio_data_file:sock_file { create unlink };
allow locdrv system_file:file execute_no_trans;
allow locdrv system_data_file:file { open write };
allow locdrv system_data_file:sock_file unlink;
allow locdrv self:process execmem;
allow locdrv shell_exec:file execute_no_trans;
allow locdrv sysfs_wake_lock:file { read write open };
allow locdrv radio_device:chr_file rw_file_perms;
