allow mediaextractor system_file:file execmod;
allow mediaextractor sysfs:file { getattr open read };
allow mediaextractor sysfs_cpu:dir search;
allow mediaextractor sysfs_cpu:file { getattr open read };
