type mmgr, domain;
type mmgr_exec, exec_type, file_type;
permissive mmgr;

# Started by init
init_daemon_domain(mmgr)

allow mmgr self:process execmem;
allow mmgr radio_device:chr_file rw_file_perms;
allow mmgr tty_device:chr_file rw_file_perms;
allow mmgr socket_device:sock_file write;
