allow priv_app device:dir { read open };
allow priv_app zygote:dir { search };
allow priv_app system_file:file execmod;
allow priv_app device:chr_file { ioctl };
allow priv_app sysfs_block:lnk_file read;
allow priv_app vendor_file:file execmod;
