type pvrsrvctl, domain;
type pvrsrvctl_exec, exec_type, file_type;
init_daemon_domain(pvrsrvctl)

allow pvrsrvctl gpu_device:chr_file rw_file_perms;
allow pvrsrvctl self:capability sys_admin;
allow pvrsrvctl self:capability sys_module;
allow pvrsrvctl shell_exec:file rx_file_perms;
allow pvrsrvctl system_file:file {rx_file_perms execmod};
