recovery_only(`
  # htcbatt
  allow recovery self:capability net_admin;
  allow recovery self:netlink_kobject_uevent_socket create_socket_perms;

  allow recovery device:dir rw_dir_perms;
  allow recovery self:capability mknod;

  allow recovery device:chr_file create_file_perms;
')
