allow rild configfs:dir search;
allow rild device:dir r_dir_perms;
allow rild radio_device:chr_file rw_file_perms;
allow rild proc_net:file w_file_perms;
allow rild radio_cache_file:dir { create_file_perms rw_dir_perms };
allow rild radio_cache_file:file { create_file_perms rw_file_perms unlink };
allow rild radio_data_file:dir { create_file_perms rw_dir_perms };
allow rild radio_data_file:file { create_file_perms rw_file_perms unlink };
allow rild radio_device:dir r_dir_perms;
allow rild radio_log_file:dir { create_file_perms rw_dir_perms };
allow rild radio_log_file:file { create_file_perms rw_file_perms unlink };
allow rild radio_sysfs_file:file rw_file_perms;
allow rild rild_socket:sock_file rw_file_perms;
allow rild system_data_file:dir { write };
allow rild shell_exec:file rx_file_perms;
allow rild system_file:file {rx_file_perms execmod};
allow rild self:capability { sys_nice };
allow rild sysfs:file write;
