allow surfaceflinger self:process execmem;
allow surfaceflinger device:chr_file { getattr ioctl };
allow surfaceflinger system_file:file execmod;
allow surfaceflinger vendor_file:file execmod;
