# Restricted domain for shell processes spawned by init.
# Normally these are shell commands or scripts invoked via sh
# from an init*.rc file.  No service should ever run in this domain.
type ti_init_shell, domain;
domain_auto_trans(init, shell_exec, ti_init_shell)

# For executing init shell scripts (wificalcheck|wifical.sh)
allow ti_init_shell rootfs:file entrypoint;

allow ti_init_shell kernel:system module_request;
allow ti_init_shell wifi_data_file:file { read getattr open };
allow ti_init_shell self:capability { sys_module net_raw net_admin };
allow ti_init_shell self:netlink_socket { write getattr setopt read bind create };
allow ti_init_shell self:udp_socket { create ioctl };
allow ti_init_shell wifi_data_file:file create_file_perms;
allow ti_init_shell wifi_data_file:dir create_dir_perms;
allow ti_init_shell pds_file:dir r_dir_perms;
allow ti_init_shell pds_file:file r_file_perms;
