allow ueventd radio_data_file:dir search;
allow ueventd radio_data_file:file { read open getattr };
allow ueventd unlabeled:dir search;
allow ueventd unlabeled:file { getattr open read };
