on post-fs
    # change permission for diagnostic purpose
    chown root diag /sys/module/gfx/parameters/psb_enable_pr2_cabc
    chown root diag /dev/msr0
    chown root diag /dev/msr1
    chown root diag /dev/mid_ipc
    chmod 0640 /sys/module/gfx/parameters/psb_enable_pr2_cabc
    chmod 0640 /dev/mid_ipc
    chmod 0640 /dev/msr0
    chmod 0640 /dev/msr1
