<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyanogenmod.cmactions"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <application
        android:label="@string/device_settings_app_name"
        android:persistent="true">

        <receiver android:name=".CMActionsReceiver">
            <intent-filter>
                <action android:name="cyanogenmod.intent.action.UPDATE_PREFERENCE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="com.cyanogenmod.cmactions.CMActionsService"
                 android:permission="CMActionsService">
        </service>

        <activity
            android:name=".GesturePreferenceActivity"
            android:label="@string/ambient_display_title"
            android:theme="@style/CMActions">
            <intent-filter>
                <action android:name="org.cyanogenmod.settings.device.DOZE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="org.cyanogenmod.settings.summary.receiver"
                android:value="com.cyanogenmod.cmactions.CMActionsReceiver" />
            <meta-data
                android:name="org.cyanogenmod.settings.summary.key"
                android:value="doze_device_settings" />
        </activity>

    </application>
</manifest>
