on init
    setprop alsa.mixer.defaultCard medfieldaudio
    setprop alsa.mixer.defaultGain 1.0
    # DualSim Property
    setprop audiocomms.atm.isDualSimModem false
    # DLCI used for Primary Audio AT Manager
    setprop audiocomms.atm.primaryChannel "/dev/gsmtty20"
    # DLCI used for Control Audio AT Manager
    setprop audiocomms.atm.controlChannel "/dev/gsmtty13"
    setprop Audiocomms.Audience.IsPresent "true"
    setprop audiocomms.XMM.primaryChannel "/dev/gsmtty13"
    setprop audiocomms.XMM.secondaryChannel ""
    setprop audiocomms.modemLib "libmamgr-xmm.so"

on post-fs
    # Audio timeout to do a DAPM powerdown after a stream is closed(). It is used to eliminate pops between different playback streams.
    chown media system "/sys/devices/ipc/msic_audio/Medfield Headset/pmdown_time"
    chown media system "/sys/devices/ipc/msic_audio/Medfield Speaker/pmdown_time"
    chown media system "/sys/devices/ipc/msic_audio/Medfield Voice/pmdown_time"

    # change gpio attribute after loading lm3556.ko
    chmod 0660 /sys/class/gpio/gpio161/value
    chown system system /sys/class/gpio/gpio161/value
