on init
    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    mkdir /data/misc/hcid 0770 bluetooth bluetooth

    chown system system /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    insmod /system/lib/modules/sdio.ko
    insmod /system/lib/modules/st_drv.ko
    chown root radio /dev/ttyGTM*
    chmod 0660 /dev/ttyGTM*
    setprop gsm.firmware.upload ok

#  Permissions for STMD Repository
    chmod 0664 /sys/module/hsi_ffl_tty/parameters/hangup_reasons
    chmod 0664 /sys/module/hsi_ffl_tty/parameters/reset_modem
    chmod 0664 /sys/module/hsi_ffl_tty/parameters/cold_reset_modem
    chmod 0664 /sys/module/intel_mid/parameters/force_cold_boot
    chmod 0664 /sys/devices/pci0000:00/0000:00:05.1/power/control
    chown system system /sys/module/hsi_ffl_tty/parameters/hangup_reasons
    chown system system /sys/module/hsi_ffl_tty/parameters/reset_modem
    chown system radio /sys/module/hsi_ffl_tty/parameters/cold_reset_modem
    chown system system /sys/module/intel_mid/parameters/force_cold_boot
    chown root system /sys/devices/pci0000:00/0000:00:05.1/power/control

on property:sys.boot_completed=1
    insmod /system/lib/modules/ipv6.ko
    setprop ril.coredumpwarning.enable 1

on property:bluetooth.uim_service_state=1
    start uim

on property:bluetooth.uim_service_state=0
    stop uim

on boot
    chmod 0660 /dev/rfkill
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# uim interfaces
    chmod 0660 /sys/devices/platform/kim/install
    chown bluetooth net_bt_stack /sys/devices/platform/kim/install
    chmod 0660 /sys/devices/platform/kim/dev_name
    chown bluetooth net_bt_stack /sys/devices/platform/kim/dev_name
    chmod 0660 /sys/devices/platform/kim/baud_rate
    chown bluetooth net_bt_stack /sys/devices/platform/kim/baud_rate
    chmod 0660 /sys/devices/platform/kim/flow_cntrl
    chown bluetooth net_bt_stack /sys/devices/platform/kim/flow_cntrl
    chmod 0660 /dev/ttyMFD0
    chown bluetooth net_bt_stack /dev/ttyMFD0

#  Permissions for NFC
    setprop ro.nfc.port "I2C"
    chmod 0660 /dev/pn544
    chown nfc nfc /dev/pn544
    chmod 0755 /system/bin/pcscd

#  Permissions for RapidRIL Repository
    chmod 0770 /system/etc/rril
    chown radio radio /system/etc/rril

    chmod 0664 /system/etc/rril/repository.txt
    chown radio radio /system/etc/rril/repository.txt
    chmod 0775 sys/devices/pci0000:00/0000:00:02.3/hsm

    chmod 0660 /dev/ttyIFX0
    chown root radio /dev/ttyIFX0

on post-fs-data
    mkdir /data/misc/dhcp 0770 dhcp wifi

on post-fs
    ## CSR GPS setup
    ## RESET gpio and UART
    write /sys/class/gpio/export 172
    write /sys/class/gpio/gpio172/direction high
    write /sys/class/gpio/gpio172/value 1
    chmod 0664 /sys/class/gpio/gpio172/value
    chmod 0660 /dev/ttyMFD2
    chmod 0664 /sys/devices/pci0000:00/0000:00:05.2/power/control
    chown system system /dev/ttyMFD2
    chown system system /sys/class/gpio/gpio172/value
    chown system system /sys/devices/pci0000:00/0000:00:05.2/power/control

# MMGR (Modem manager)
service mmgr  /system/bin/mmgr
    class core
    socket mmgr stream 666 system radio
    user system
    group radio cache inet misc system
    oneshot

# Load Intrinsyc RapidRIL
#service ril-daemon /system/bin/rild -l /system/lib/librapid-ril-core.so -- -a /dev/gsmtty12 -n /dev/gsmtty2 -m /dev/gsmtty6 -c /dev/gsmtty8 -u /dev/gsmtty1 -o /dev/gsmtty9 -d /dev/gsmtty3 -d /dev/gsmtty4 -d /dev/gsmtty15
#service ril-daemon /system/bin/rild -l /system/lib/librapid-ril-core.so -- -a /dev/gsmtty12 -n /dev/gsmtty2 -m /dev/gsmtty6 -c /dev/gsmtty8 -u /dev/gsmtty1 -o /dev/gsmtty9 -d /dev/gsmtty3
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    class main
    user root
    group radio cache inet misc audio mot_tpapi

service uim /system/bin/uim
    class core
    user root
    group bluetooth net_bt_admin

service bd_prov /system/bin/bd_prov
    class core
    user root
    group bluetooth security net_bt_admin
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service pcsc /system/bin/pcscd --auto-exit
    class main
    user wifi
    group wifi inet
    disabled
    oneshot

#on property:persist.radio.airplane_mode_on=0
#   stop ril-daemon
#   start ril-daemon
