import /init.watchdog.rc

on early-init
    # set permission for charger-mode
    chmod 0750 /charger
    chown system system /dev/dri/card0
    chmod 0666 /dev/dri/card0
    symlink /dev/dri/card0 /dev/card0
    # Enable native bridge for target executables
    mount binfmt_misc binfmt_misc /proc/sys/fs/binfmt_misc

on init
    # set usb serial number
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

    # Support legacy paths
    symlink /sdcard /storage/sdcard0

on boot
#    chown system system /dev/pvr_sync
#    chmod 666 /dev/pvr_sync

#   chown system system /dev/dri/card0
#   chmod 0666 /dev/dri/card0
#   symlink /dev/dri/card0 /dev/card0

    # IMG Graphics specific setup. See also "service pvrsrvctl"
    # The permissions below should be tighter.
#    chown system system /dev/card0
    chown system system /sys/class/backlight/psb-bl/brightness
    chown system system /sys/class/backlight/psb-bl/max_brightness
    chown system system /sys/class/backlight/psb-bl/actual_brightness
 #   chmod 0666 /dev/card0
    chmod 0664 /sys/class/backlight/psb-bl/brightness
    chmod 0664 /sys/class/backlight/psb-bl/max_brightness
    chmod 0664 /sys/class/backlight/psb-bl/actual_brightness

    #Change mmc queue nr_requests from 128 to 32 to reduce write latencies
    write /sys/block/mmcblk0/queue/nr_requests 32


# Change TCP Net-Core buffers sizes to improve cellular data throughput
     write /proc/sys/net/core/rmem_default 1048576
     write /proc/sys/net/core/rmem_max 2097152
     write /proc/sys/net/core/wmem_max 1048576

    #Set freezing timeout value as 2000ms
    write /sys/power/pm_freeze_timeout 2000

    #enable kernel compaction
    write /proc/sys/vm/compact_memory 1

on fs
    mkdir /factory 0775 system system
    mkdir /config 0775 system system
    mkdir /media 0775 media media
    mount_all /fstab.sc1
    chown root system /factory
    chmod 0770 /factory
    mkdir /config/wifi
    chown system wifi /config/wifi
    chmod 0770 /config/wifi
    restorecon_recursive /config
    restorecon_recursive /factory

    # increase read-ahead value to 256 kb
    write /sys/block/mmcblk0/queue/read_ahead_kb 256

on post-fs
# Performance tweaks for interactive governor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboost_freq
    chmod 0220 /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse
    chmod 0220 /sys/devices/system/cpu/cpufreq/interactive/boostpulse

on post-fs-data
    mkdir /data/system/ 0770 system system
    write /proc/sys/kernel/ctrl-alt-del 0

    mkdir /mnt/asec/media 0770 media media

    # Disable data roaming option enabled by default
    setprop ro.com.android.dataroaming false

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # Set this property to force the camera shutter sound to play on speaker
    # We implement this property in buildinfo.sh. So comment this.
    # setprop ro.camera.sound.forced 1

    # set this to switch to CPU renderscipt
    setprop debug.rs.default-CPU-driver 1

    # Set this property for the use of unlock
    setprop ro.build.servaddr 1

    chown system system /sys/class/drm/card0/gt_max_freq_mhz

    #support emmc_total_size
    symlink /sys/devices/pci0000:00/0000:00:01.0/emmc_total_size /data/data/emmc_total_size



on charger
    chown system system /dev/dri/card0
    chmod 0666 /dev/dri/card0
    symlink /dev/dri/card0 /dev/card0

    # IMG Graphics specific setup. See also "service pvrsrvctl"
    # The permissions below should be tighter.
    chown system system /dev/card0

    start pvrsrvctl
    # reduce backlight
    write /sys/class/backlight/psb-bl/brightness 50
    #default setting to enable charging in COS
    setprop sys.usb.config charger

service pvrsrvctl /system/bin/pvrsrvctl.sh
    class core
    oneshot
    user root
    group graphics readproc
    seclabel u:r:pvrsrvctl:s0

service charger_app /charger
    class charger
    user root
    seclabel u:r:healthd:s0

# Enable native bridge for target executables
on property:ro.enable.native.bridge.exec=1
    copy /system/etc/binfmt_misc/arm_exe /proc/sys/fs/binfmt_misc/register
    copy /system/etc/binfmt_misc/arm_dyn /proc/sys/fs/binfmt_misc/register

# This property trigger has added to imitiate the previous behavior of "adb root".
# The adb gadget driver used to reset the USB bus when the adbd daemon exited,
# and the host side adb relied on this behavior to force it to reconnect with the
# new adbd instance after init relaunches it. So now we force the USB bus to reset
# here when adbd sets the service.adb.root property to 1.  We also restart adbd here
# rather than waiting for init to notice its death and restarting it so the timing
# of USB resetting and adb restarting more closely matches the previous behavior.
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

on property:sys.property_forcedshutdown=1
    write /sys/module/intel_mid_osip/parameters/force_shutdown_occured 1

on property:sys.shutdown.requested=0
    write /sys/devices/virtual/misc/watchdog/shutdown_ongoing 1

on property:sys.shutdown.requested=1
    write /sys/devices/virtual/misc/watchdog/reboot_ongoing 1

on property:sys.shutdown.requested=1recovery
    write /sys/devices/virtual/misc/watchdog/reboot_ongoing 1

on property:sys.shutdown.requested=1bootloader
    write /sys/devices/virtual/misc/watchdog/reboot_ongoing 1
