# Enable by default android java wakelock logging
on init
    mkdir /logs
    symlink /data/logs /logs
    write /proc/sys/kernel/kptr_restrict 2

on early-boot
    chown system log /logs
    chmod 0770 /logs

on post-fs-data
    mkdir /data/tombstones 0755 system system
    mkdir /data/system/    0755 system system
    mkdir /data/system/dropbox 0700 system system
    mkdir /logs/modemcrash 0775 system system

on charger
    # basic networking for "adb root"
    ifup lo
    hostname localhost
    domainname localdomain
    mount ext4 /dev/block/mmcblk0p16 /system ro noatime
    mount ext4 /dev/block/mmcblk0p17 /data nosuid nodev noatime barrier=1,data=ordered,noauto_da_alloc
    mount f2fs /dev/block/mmcblk0p17 /data nosuid nodev noatime inline_xattr
    mkdir /logs/modemcrash 0775 system system

on ramconsole
    powerctl reboot

