import init.common.rc
import init.debug.rc
import init.oom.rc
import init.avc.rc
import init.wifi.rc
import init.gps.rc
import init.nfc.rc
import init.bt.rc
import init.modem.rc
import init.xmm.rc
import init.zram.rc
import init.ksm.rc

# include usb rc file
import init.moto.usb.rc

# no emmc file systems mounted at this point (system, data, pds, etc.)
# runs after "on early-init" and before "on early-fs"
# runs in charge-only-mode
on init
    export LD_SHIM_LIBS \
    /system/bin/bd_prov|libshim_crypto.so:\
    /system/bin/mmgr|libshim_mmgr.so:\
    /system/lib/libparameter.so|libshim_audio.so:\
    /system/lib/libsecurity_api.so|libshim_crypto.so:\
    /system/lib/parameter-framework-plugins/Audio/libtinyalsa_custom-subsystem.so|libshim_audio.so:\
    /system/lib/hw/camera.vendor.sc1.so|libshim_camera.so

    write /sys/class/graphics/fbcon/cursor_blink 0

    chmod 0660 /sys/class/gpio/gpio157/value
    chown system system /sys/class/gpio/gpio157/value
    chmod 0660 /sys/class/gpio/gpio50/value
    chown system system /sys/class/gpio/gpio50/value

    # For Authentec VPN: route packets over bridge interface before processing
    write /proc/sys/net/bridge/bridge-nf-call-arptables 0
    write /proc/sys/net/bridge/bridge-nf-call-iptables  0
    write /proc/sys/net/bridge/bridge-nf-call-ip6tables 0

    # set auto_suspend delay to 10ms for camera which is on bus i2c-4
    write /sys/bus/pci/devices/0000:00:03.3/power/autosuspend_delay_ms 10

# run after "on init" in charge-only-mode
# init does not automatically run "on early-fs", "on fs", "on post-fs",
#   "on post-fs-data", "on early-boot", and "on boot" in charge-only-mode
on charger
    mount ext4 /dev/block/mmcblk0p16 /system ro noatime
    mount ext4 /dev/block/mmcblk0p17 /data nosuid nodev noatime barrier=1,data=ordered,noauto_da_alloc
    mount f2fs /dev/block/mmcblk0p17 /data nosuid nodev noatime inline_xattr

    start console
    start watchdogd

# CPU Frequency Governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

# runs after "on init" and before "on fs"; doesn't run in charge-only-mode
on early-fs
    mkdir /pds 0755 root root

# runs after "on fs" and before "on post-fs-data"
# /system, /cache, and /pds should be mounted at this point
# does not usually run charge-only-mode
on post-fs
    mkdir /data/misc/pds 0700 root root
    restorecon_recursive /data/misc/pds
    restorecon /dev/block/mmcblk0p12
    exec u:r:vold:s0 root root -- /system/bin/sh /system/bin/pdsbackup.sh
    restorecon_recursive /pds
    # Volume keys wakeup capability
    chmod 0664 /sys/devices/platform/gpio-keys/enabled_wakeup
    chmod 0664 /sys/devices/platform/gpio-keys/disabled_wakeup
    chown media system /sys/devices/platform/gpio-keys/enabled_wakeup
    chown media system /sys/devices/platform/gpio-keys/disabled_wakeup

    #  Permissions for Sensors
    # accelerometer lis3dh
    chown system system /sys/bus/i2c/devices/5-0018/lis3dh/poll
    chown system system /sys/bus/i2c/devices/5-0018/lis3dh/enable

    #barometer ms5607
    chown system system /sys/bus/i2c/devices/5-0077/enable
    chown system system /sys/bus/i2c/devices/5-0077/poll

    # compass hmc5883
    chown system system /sys/bus/i2c/devices/5-001e/hmc5883/enable
    chown system system /sys/bus/i2c/devices/5-001e/hmc5883/poll

    #Gyroscope
    chown system system /sys/bus/i2c/devices/5-0068/enable
    chown system system /sys/bus/i2c/devices/5-0068/poll

    # Magnetometer
    chown compass compass /sys/class/compass/akm8963/enable_acc
    chown compass compass /sys/class/compass/akm8963/enable_mag
    chown compass compass /sys/class/compass/akm8963/enable_ori
    chown compass compass /sys/class/compass/akm8963/delay_acc
    chown compass compass /sys/class/compass/akm8963/delay_mag
    chown compass compass /sys/class/compass/akm8963/delay_ori
    chown compass compass /sys/class/compass/akm8963/accel

    # Magnetometer
    chown compass compass /sys/class/compass/akm8975/enable_acc
    chown compass compass /sys/class/compass/akm8975/enable_mag
    chown compass compass /sys/class/compass/akm8975/enable_ori
    chown compass compass /sys/class/compass/akm8975/delay_acc
    chown compass compass /sys/class/compass/akm8975/delay_mag
    chown compass compass /sys/class/compass/akm8975/delay_ori
    chown compass compass /sys/class/compass/akm8975/accel

    # CT406 Light sensor and proximity
    chown system system /sys/module/ct406/parameters/als_enable
    chmod 0660 /sys/module/ct406/parameters/als_enable
    chown system system /sys/module/ct406/parameters/prox_enable
    chmod 0660 /sys/module/ct406/parameters/prox_enable
    chown system system /sys/module/ct406/parameters/ip_enable
    chmod 0660 /sys/module/ct406/parameters/ip_enable
    chown system system /sys/module/ct406/parameters/als_delay
    chmod 0660 /sys/module/ct406/parameters/als_delay

    # Permissions for LED
    chown system system /sys/class/leds/intel_keypad_led/brightness

    # Permissions for RGB and charging LEDs
    chown system system /sys/class/leds/rgb/control
    chmod 0664 /sys/class/leds/rgb/control
    chown system system /sys/class/leds/rgb/max_level
    chmod 0664 /sys/class/leds/rgb/max_level
    chown system system /sys/class/leds/rgb/clock
    chmod 0664 /sys/class/leds/rgb/clock
    chown system system /sys/class/leds/rgb/registers
    chmod 0664 /sys/class/leds/rgb/registers

    chown system system /sys/class/leds/red/brightness
    chmod 0664 /sys/class/leds/red/brightness
    chown system system /sys/class/leds/blue/brightness
    chmod 0664 /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/green/brightness
    chmod 0664 /sys/class/leds/green/brightness

    chown system system /sys/class/leds/charging/brightness
    chmod 0664 /sys/class/leds/charging/brightness

    # Permissions for BCU Driver for "K2.6.35" and "K3.0"
    chown system system /sys/devices/platform/msic_ocd/msic_current/batt_level
    chown system system /sys/devices/platform/intel_msic/msic_ocd/msic_current/batt_level
    chown system system /sys/devices/ipc/msic_ocd/msic_current/batt_level

    # Permissions for Powertool app
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu1/online
    chown system system /sys/module/intel_soc_pmu/parameters/s0ix

    #Permissions for Touch Screen
    chown root mot_tcmd /sys/bus/i2c/drivers/atmxt-i2c/0-004a/drv_irq
    chmod 0660 /sys/bus/i2c/drivers/atmxt-i2c/0-004a/drv_irq

    # create pds/public
    mkdir /pds/public 0775 system shell

    # create pds/factory
    mkdir /pds/factory 0750 mot_tcmd shell

    # create pds/wifi
    mkdir /pds/wifi 0750 mot_tcmd shell

    # create pds/bp_nvm
    mkdir /pds/bp_nvm 0770 radio radio

    # create the necessary pds dirs for tpapi with proper permission
    mkdir /pds/security 0770  mot_tpapi mot_tpapi
    chown mot_tpapi mot_tpapi /pds/security/counter.bin
    chown mot_tpapi mot_tpapi /pds/security/system.bin
    chown mot_tpapi mot_tpapi /pds/security/storage.bin
    chown mot_tpapi mot_tpapi /pds/security/keymaptable.dat

    # make modem fuse status readable for everyone
    chmod 0644 /pds/modem_fuse.fus

    # create pds/public/locale to store current language selected
    mkdir /pds/public/locale 0700 system system

# For LBS
    insmod /system/lib/modules/gps_drv.ko

# run after "on post-fs" and before "on early-boot"
# /data should always be mounted by this point
on post-fs-data
    chown media_rw media_rw /data/media

    # Create directory used by power_supply logger
    mkdir /data/power_supply_logger 0755 mot_pwric mot_pwric

    # KCal permissions
    chown system system "/sys/devices/platform/SMD QHD Amoled/kcal"
    chown system system "/sys/devices/platform/SMD QHD Amoled/kcal_min"

    # LBS init
    mkdir /data/location 0771 radio radio
    mkdir /data/gki 0770 radio radio
    mkdir /tmp/commdrv 0770 radio radio

    mkdir /data/misc/firmware 0770 system system
    mkdir /data/misc/thermal 0770 system system

    symlink /system/etc/MID_thermal.conf /data/misc/thermal/MID_thermal.conf

    # If there is no fs-post-data action in the init.<device>.rc file, you
    # must uncomment this line, otherwise encrypted filesystems
    # won't work.
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

# run after "on post-fs-data", before "on boot"
# may not be run in charge-only-mode
on early-boot
    # create the necessary data dirs for tpapi with proper permission
    mkdir /dev/tpapi 2770  mot_tpapi mot_tpapi
    mkdir /data/tpapi 2770 mot_tpapi mot_tpapi
    mkdir /data/tpapi/etc 2770 mot_tpapi mot_tpapi
    mkdir /data/tpapi/etc/tpa 2770 mot_tpapi mot_tpapi
    mkdir /data/tpapi/etc/tpa/persistent 2770 mot_tpapi mot_tpapi
    # create logger folder
    mkdir /data/logger 0750 log log

# run after "on early-boot"; does not run in charge-only-mode
on boot
    chmod 0777 /system/etc/vpimg.bin

    #  Permissions for Thermal Management
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/ipc/msic_battery/charge_enable
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chown system system /sys/module/intel_mid_osip/parameters/force_shutdown_occured

    chmod 0664 /sys/devices/ipc/msic_battery/charge_enable
    chown root mot_tcmd /sys/devices/ipc/msic_adc/mid_gpadc/alloc_channel
    chown root mot_tcmd /sys/devices/ipc/msic_adc/mid_gpadc/free_channel
    chown root mot_tcmd /sys/devices/ipc/msic_adc/mid_gpadc/sample
    chmod 220 /sys/devices/ipc/msic_adc/mid_gpadc/alloc_channel
    chmod 220 /sys/devices/ipc/msic_adc/mid_gpadc/free_channel
    chmod 664 /sys/devices/ipc/msic_adc/mid_gpadc/sample


    chmod 0660 /sys/devices/pci0000:00/0000:00:02.0/acl_mode
    chown system system /sys/devices/pci0000:00/0000:00:02.0/acl_mode
    chmod 0660 /sys/devices/pci0000:00/0000:00:02.0/elvss_tth_status
    chown system system /sys/devices/pci0000:00/0000:00:02.0/elvss_tth_status

    # permission for graphics device ControlD64
    chmod 0660 /dev/dri/controlD64

    # Setup folder for aplogd
    mkdir /data/aplogd 0750 log log

on property:sys.boot_completed=1
    # Insert matrix for PnP measurements
    insmod /system/lib/modules/matrix.ko
    chmod 0640 /dev/matrix

service gkisystem /system/bin/gkisystem.sh
    class main
    socket location_shim stream 660 radio system
    socket gpshal_socket stream 660 radio system
    group radio mot_accy mot_secclkd
    seclabel u:r:gkisystem:s0

service locDrv /system/bin/gps_driver.sh
    class main
    user radio
    group radio inet sdcard_rw
    seclabel u:r:gkisystem:s0

# Magnetometer
service akmd8963 /system/bin/akmd8963.sh
    class main
    user compass
    group compass misc input
    seclabel u:r:akmd8963:s0

# Properties, events trigging service

service batt_health /system/bin/batt_health.sh
    class main
    group mot_pwric
    oneshot
    seclabel u:r:batt_health:s0

# From init.rc in stock, these redefine service definitions

service audioserver /system/bin/audioserver
    class main
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct qcom_diag radio system wakelock
    ioprio rt 4

service drm /system/bin/drmserver
    class main
    user drm
    group drm system inet drmrpc readproc sdcard_r
