on boot
    # Read one page at a time for swap (default is 8)
    write /proc/sys/vm/page-cluster 0

    write /proc/sys/vm/swappiness 100

on post-fs-data
    # Enable swaps described in the fstab
    swapon_all /fstab.sc1
