# Enable by default android java wakelock logging
on init
#    mkdir /logs
    symlink /data/logs /logs
    write /proc/sys/kernel/kptr_restrict 2


on post-fs-data
    mkdir /data/tombstones 0755 system system
    mkdir /data/system/    0755 system system
    # intel puts /data/logs on a different partition, we don't
    mkdir /data/logs 0770 system log
    mkdir /data/logs/core 0770 root log
    mkdir /data/logs/modemcrash 0775 system system
    mkdir /data/logs/stats 0775 system system
    mkdir /data/logs/gps 0775 system system
    mkdir /data/logs/aplogs 0775 system log

on charger
    # intel puts /data/logs on a different partition, we don't
    mkdir /data/logs 0770 system log
    mkdir /data/logs/modemcrash 0775 system log
    mkdir /data/logs/stats 0775 system system
    mkdir /data/logs/gps 0775 system system

on property:ro.secure=0
    # Allow dumping of setuid tasks
    write /proc/sys/fs/suid_dumpable 2

on property:ro.debuggable=1
    # Allow unprivileged users to read the kernel log
    write /proc/sys/kernel/dmesg_restrict 0
