on boot
    # KSM tuning
     write /sys/kernel/mm/ksm/deferred_timer 1
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 2000
    write /sys/kernel/mm/ksm/run 1
