########################################################
#  BLUETOOTH CONFIGURATION - TI SPECIFIC
########################################################

on property:bluetooth.uim_service_state=1
    start uim-sysfs

on property:bluetooth.uim_service_state=0
    stop uim-sysfs

on post-fs
    chmod 0660 /dev/rfkill
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    mkdir /data/misc/hcid 0770 bluetooth bluetooth
    start bd_prov

# uim interfaces
    chmod 0660 /sys/devices/platform/kim/install
    chown bluetooth bluetooth /sys/devices/platform/kim/install
    chmod 0660 /sys/devices/platform/kim/dev_name
    chown bluetooth bluetooth /sys/devices/platform/kim/dev_name
    chmod 0660 /sys/devices/platform/kim/baud_rate
    chown bluetooth bluetooth /sys/devices/platform/kim/baud_rate
    chmod 0660 /sys/devices/platform/kim/flow_cntrl
    chown bluetooth bluetooth /sys/devices/platform/kim/flow_cntrl
    chmod 0660 /dev/ttyMFD0
    chown bluetooth bluetooth /dev/ttyMFD0

service uim-sysfs /system/bin/uim-sysfs
    class core
    user root
    group bluetooth net_bt_admin
    disabled
