import init.wifi.vendor.rc

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi

on boot
    write /proc/sys/net/ipv4/tcp_limit_output_bytes 1500000

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/firmware 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
