# property for USBLAN interface name
on early-boot
    setprop ro.blan.interface usb0

on init
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    write /sys/bus/pci/devices/0000:00:02.3/sdis 1

on boot
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/f_mass_storage/vendor $ro.product.manufacturer
    write /sys/class/android_usb/android0/f_mass_storage/product $ro.product.model
    setprop usb.mtp.pid 0x710F
    setprop usb.mtp.cdrom 1
    setprop usb.mtp.config mass_storage

on charger
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/f_mass_storage/vendor $ro.product.manufacturer
    write /sys/class/android_usb/android0/f_mass_storage/product $ro.product.model
    setprop sys.usb.config charger

service moto-usb-sh /system/bin/logwrapper /system/bin/sh /init.moto.usb.sh
    class core
    user root
    oneshot

# TCMD properties to control USB enumeration
on property:tcmd.ctrl_adb=*
    setprop usb.moto-usb-sh.action tcmd.ctrl_adb
    start moto-usb-sh

on property:tcmd.ctrl_at_tunnel=*
    setprop usb.moto-usb-sh.action tcmd.ctrl_at_tunnel
    start moto-usb-sh

# Perms
on post-fs-data
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

# Used to disable USB when switching states
on property:sys.usb.config=none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    setprop sys.usb.state $sys.usb.config

# adb only USB configuration
# This should only be used during device bringup
# and as a fallback if the USB manager fails to set a standard configuration
on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0


    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x42d1

    # Not need to set iSerial, as driver will get it from emmc cid
    # write /sys/class/android_usb/android0/iSerial "Medfield12345678"


    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# USB accessory configuration
on property:sys.usb.config=accessory
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x18d1
    write /sys/class/android_usb/android0/idProduct 2d00
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# USB accessory configuration, with adb
on property:sys.usb.config=accessory,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x18d1
    write /sys/class/android_usb/android0/idProduct 2d01
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# USB MTP configuration
on property:sys.usb.config=mtp
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct $usb.mtp.pid
    write /sys/class/android_usb/android0/f_mass_storage/cdrom $usb.mtp.cdrom
    write /sys/class/android_usb/android0/functions $usb.mtp.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
    setprop sys.mot.usb.action none

# USB MTP configuration, with adb
on property:sys.usb.config=mtp,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x710E
    write /sys/class/android_usb/android0/functions mtp,usbnet,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# USB PTP configuration
on property:sys.usb.config=ptp
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7110
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# USB PTP configuration, with adb
on property:sys.usb.config=ptp,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7111
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config


# USB RNDIS configuration
on property:sys.usb.config=rndis
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct $ro.usb.rndis.pid
    write /sys/class/android_usb/android0/functions $ro.usb.rndis.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# USB RNDIS configuration, with adb
on property:sys.usb.config=rndis,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct $ro.usb.rndis-adb.pid
    write /sys/class/android_usb/android0/functions $ro.usb.rndis-adb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# USB ACM configuration, with rndis and adb
on property:sys.usb.config=rndis,acm,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0

    # Intel PID/VID for ACM + RNDIS + ADB mode
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x09f8
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    start adbd
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# USBLAN configuration
on property:sys.usb.config=usbnet
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7101
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# USBLAN configuration, with adb
on property:sys.usb.config=usbnet,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7102
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# ACM,USBLAN configuration
on property:sys.usb.config=acm,usbnet
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7103
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# ACM,USBLAN configuration, with adb
on property:sys.usb.config=acm,usbnet,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7104
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# Modem,USBLAN configuration
on property:sys.usb.config=modem,usbnet
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7105
    write /sys/class/android_usb/android0/functions acm,usbnet
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# Modem,USBLAN configuration, with adb
on property:sys.usb.config=modem,usbnet,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7106
    write /sys/class/android_usb/android0/functions acm,usbnet,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# Mass storage configuration
on property:sys.usb.config=mass_storage
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7107
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# Mass storage configuration, with adb
on property:sys.usb.config=mass_storage,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7108
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# Charging configuration
on property:sys.usb.config=charger
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x22b8
    write /sys/class/android_usb/android0/idProduct 0x7112
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config $persist.sys.usb.config

# This property trigger has added to imitiate the previous behavior of "adb root".
# The adb gadget driver used to reset the USB bus when the adbd daemon exited,
# and the host side adb relied on this behavior to force it to reconnect with the
# new adbd instance after init relaunches it. So now we force the USB bus to reset
# here when adbd sets the service.adb.root property to 1.  We also restart adbd here
# rather than waiting for init to notice its death and restarting it so the timing
# of USB resetting and adb restarting more closely matches the previous behavior.
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1



# Handle kernel uevent usb actions
# none - back to defaults
on property:sys.mot.usb.action=none
    setprop usb.mtp.pid 0x710F
    setprop usb.mtp.cdrom 1
    setprop usb.mtp.config mass_storage

# switch30 - switch to mtpusbnet
on property:sys.mot.usb.action=switch30
    setprop usb.mtp.pid 0x710D
    setprop usb.mtp.cdrom 0
    setprop usb.mtp.config mtp,usbnet
    setprop sys.usb.config mtp

# switch01 - switch to cdrom
on property:sys.mot.usb.action=switch01
    setprop usb.mtp.pid 0x710F
    setprop usb.mtp.cdrom 1
    setprop usb.mtp.config mass_storage
    setprop sys.usb.config mtp

# switch65 - reset adbd/usb
on property:sys.mot.usb.action=switch65
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/enable 1
    start adbd
