#
# Tweaks for the OOM killer for mfld platforms (oxavelar)
#
on boot
# Define the oom_adj values for the classes of processes that can be
# killed by the kernel.  These are used in ActivityManagerService.
    setprop ro.FOREGROUND_APP_ADJ 0
    setprop ro.VISIBLE_APP_ADJ 1
    setprop ro.PERCEPTIBLE_APP_ADJ 2
    setprop ro.HEAVY_WEIGHT_APP_ADJ 3
    setprop ro.SECONDARY_SERVER_ADJ 4
    setprop ro.BACKUP_APP_ADJ 5
    setprop ro.HOME_APP_ADJ 1
    setprop ro.HIDDEN_APP_MIN_ADJ 12
    setprop ro.EMPTY_APP_ADJ 15

# Define the memory thresholds at which the above process classes will
# be killed.  These numbers are in pages (4k).
    setprop ro.FOREGROUND_APP_MEM 1536
    setprop ro.VISIBLE_APP_MEM 2048
    setprop ro.PERCEPTIBLE_APP_MEM 4096
    setprop ro.HEAVY_WEIGHT_APP_MEM 4096
    setprop ro.SECONDARY_SERVER_MEM 15360
    setprop ro.BACKUP_APP_MEM 15360
    setprop ro.HOME_APP_MEM 1536
    setprop ro.HIDDEN_APP_MEM 17920
    setprop ro.EMPTY_APP_MEM 20480

# Write value must be consistent with the above properties.
# Note that the driver only supports 6 slots, so we have combined some of
# the classes into the same memory level; the associated processes of higher
# classes will still be killed first
    write /sys/module/lowmemorykiller/parameters/adj 0,1,2,4,12,15
    write /sys/module/lowmemorykiller/parameters/minfree 1536,2048,4096,15360,17920,20480
    write /sys/module/lowmemorykiller/parameters/cost 64
    write /sys/module/lowmemorykiller/parameters/debug_level 0

# The following impacts memory transactions too and can speed up or
# slow down the system
    write /proc/sys/vm/overcommit_ratio 100
    write /proc/sys/vm/oom_dump_tasks 1
