## Permissions to allow system-wide tracing to the kernel trace buffer.
##
on boot

# Allow writing to the kernel trace log.
    chmod 0222 /sys/kernel/debug/tracing/trace_marker

# Allow the shell group to enable (some) kernel tracing.
    chown system system /sys/kernel/debug/tracing
    chown system system /sys/kernel/debug/tracing/tracing_on
    chown system system /sys/kernel/debug/tracing/trace_clock
    chown system system /sys/kernel/debug/tracing/buffer_size_kb
    chown system system /sys/kernel/debug/tracing/options/overwrite
    chown system system /sys/kernel/debug/tracing/events
    chown system system /sys/kernel/debug/tracing/events/memkill
    chown system system /sys/kernel/debug/tracing/events/memkill/enable
    chown system system /sys/kernel/debug/tracing/events/sched/sched_switch/enable
    chown system system /sys/kernel/debug/tracing/events/sched/sched_wakeup/enable
    chown system system /sys/kernel/debug/tracing/events/power/cpu_frequency/enable
    chown system system /sys/kernel/debug/tracing/events/power/cpu_idle/enable
    chown system system /sys/kernel/debug/tracing/events/cpufreq_interactive/enable
    chown system system /sys/kernel/debug/tracing/tracing_on

    chmod 0770 /sys/kernel/debug/tracing
    chmod 0660 /sys/kernel/debug/tracing/tracing_on
    chmod 0664 /sys/kernel/debug/tracing/trace_clock
    chmod 0664 /sys/kernel/debug/tracing/buffer_size_kb
    chmod 0664 /sys/kernel/debug/tracing/options/overwrite
    chmod 0770 /sys/kernel/debug/tracing/events
    chmod 0770 /sys/kernel/debug/tracing/events/memkill
    chmod 0660 /sys/kernel/debug/tracing/events/memkill/enable
    chmod 0664 /sys/kernel/debug/tracing/events/sched/sched_switch/enable
    chmod 0664 /sys/kernel/debug/tracing/events/sched/sched_wakeup/enable
    chmod 0664 /sys/kernel/debug/tracing/events/power/cpu_frequency/enable
    chmod 0664 /sys/kernel/debug/tracing/events/power/cpu_idle/enable
    chmod 0664 /sys/kernel/debug/tracing/events/cpufreq_interactive/enable
    chmod 0664 /sys/kernel/debug/tracing/tracing_on

# Allow only the shell group to read and truncate the kernel trace.
    chown system system /sys/kernel/debug/tracing/trace
    chmod 0660 /sys/kernel/debug/tracing/trace
