/dev/rtc0                 0660   system     system
/dev/i2c-0                0660   system     system
/dev/i2c-1                0660   system     system
/dev/i2c-2                0660   system     system
/dev/i2c-3                0660   system     system
/dev/i2c-4                0660   system     system
/dev/i2c-5                0660   system     system
/dev/i2c-8                0660   system     system
/dev/assd                 0660   smartcard  smartcard

# The Intel camera device node is world writable/readable
/dev/video*               0660   media      camera

# FM device
/dev/tifm                 0660   bluetooth  bluetooth

# USB devices
/dev/ttyGS0               0660   radio      mot_usb

# Modem tty node change to radio user can read and write
/dev/gsmtty*              0660   radio      system
/dev/ttyMFD*              0660   radio      system
/dev/ttyGS0               0660   root       radio
/dev/ttyACM*              0660   root       radio
/dev/ttyPTI1              0660   root       radio

# SD device
/dev/block/mmcblk1p1      0660   root       mot_tcmd

# CID partition
/dev/block/mmcblk0p7      0660   root       mot_tcmd

# Intel Security Driver
/dev/sep_sec_driver       0660   mot_tpapi  mot_tpapi

# SGX graphics device
/dev/dri/card*            0666   root       root

# Bluetooth device
/dev/ttyMFD0              0660   bluetooth  bluetooth
/dev/watchdog             0660   system     system
/dev/tigps                0660   root       radio
/dev/pn544                0660   nfc        nfc
/dev/ttyGTM*              0660   root       radio
/dev/rfkill               0660   bluetooth  bluetooth
/dev/audience_es305       0660   system     audio
/dev/intel_sst_ctrl       0600   media      media
/dev/ttyIFX0              0660   root       radio
/dev/ttyMFD2              0660   system     system
/dev/akm8963              0660   compass    compass
/dev/akm8963_dev          0660   compass    compass
/dev/akm8975              0660   compass    compass
/dev/akm8975_dev          0660   compass    compass

# Motorola Sensor Inteface
/dev/lis3dh               0660   compass    compass
/dev/ct406                0660   compass    compass

# Multimedia
/dev/v4l-subdev*          0660   root       camera
/dev/media*               0660   root       camera

# sysfs properties
/sys/devices/system/cpu/cpu1/cpufreq scaling_governor 0644 system system
/sys/devices/system/cpu/cpu1/cpufreq scaling_max_freq 0664 system system
/sys/devices/system/cpu/cpu1/cpufreq scaling_min_freq 0644 system system
